name: Build Game - Windows and Linux

on:
  push:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pygame pyinstaller

      - name: Build Windows Version
        if: matrix.os == 'windows-latest'
        run: |
          pyinstaller --noconsole --onefile --name "Snake_By_Aymen_Win" --icon="assets/icon.ico" --add-data "assets;assets" --add-data "game_data.json;." main.py

      - name: Build Linux Version
        if: matrix.os == 'ubuntu-latest'
        run: |
          pyinstaller --noconsole --onefile --name "Snake_By_Aymen_Linux" --icon="assets/icon.png" --add-data "assets:assets" --add-data "game_data.json:." main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SnakeGame-${{ matrix.os }}
          path: |
            dist/Snake_By_Aymen_Win.exe
            dist/Snake_By_Aymen_Linux
